body {
    font-family: helvetica, Arial, sans-serif;
    color: var(--fontColor);
    background: var(--bg);
}

h1 {
    color: orange;
}

h2 {
    color: lightskyblue;
}

.light-theme {
    --bg: white;
    --fontColor: black;
}

.dark-theme {
    --bg: black;
    --fontColor: white;
}

#hub {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.box {
    background-color: lightgoldenrodyellow;
    width: 95%;
    opacity: 0.7;
}

.list {
    position: relative;
    width: 95%;
    left: -5px;
    padding: 10px;
}

.gdlevel {
    width: 30%;
    padding: 12px;
}

.gallery {
    height: 50%;
    width: 50%;
    padding: 10px;
}

.minecraft {
    height: 40%;
    width: 40%;
    padding: 10px;
}