body {
    font-family: helvetica, Arial, sans-serif;
    color: var(--fontColor);
    background: var(--bg);
    font-size: 20px;
}

h1 {
    color: purple;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: lightskyblue;
    text-align: center;
    font-size: 30px;
}

.light-theme {
    --bg: white;
    --fontColor: black;
    --box: yellow;
}

.dark-theme {
    --bg: black;
    --fontColor: white;
    --box: lightgoldenrodyellow;
}

#theme {
    float: right;
    position: relative;
    width: 8%;
    font-size: 20px;
}

#hub {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.box {
    background-color: var(--box);
    width: 95%;
}

.list {
    position: relative;
    width: 95%;
    left: -5px;
    padding: 10px;
}

.gdlevel {
    width: 30%;
    padding: 12px;
}

#forza-cars {
    text-align: center;
}

.forza-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.forza {
    width: 30%;
    padding: 0.2rem;
    transition: transform 0.3s ease-in-out;
}

.forza:hover {
    transform: scale(1.2);
}

.gallery {
    height: 50%;
    width: 50%;
    padding: 10px;
}

.minecraft {
    height: 40%;
    width: 40%;
    padding: 10px;
}