body {
    font-family: helvetica, Arial, sans-serif;
    color: var(--fontColor);
    background: var(--bg);
    font-size: 20px;
    margin: 0;
}

h1 {
    color: purple;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: lightskyblue;
    text-align: center;
    font-size: 30px;
}

div {
    text-align: center;
}

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-link {
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
}

.navbar .nav-link:hover {
    background-color: #575757;
}

#theme {
    float: right;
    position: absolute;
    width: 5%;
    font-size: 20px;
    max-width: 5rem;
    right: 4rem;
}

.light-theme {
    --bg: rgb(201, 186, 208);
    --fontColor: rgb(53, 51, 51);
    --box: yellow;
}

.dark-theme {
    --bg: rgb(41, 16, 0);
    --fontColor: white;
    --box: lightgoldenrodyellow;
}

.content {
    padding-top: 5rem;
    max-width: 100rem;
    margin: 0 auto;
}

#bio {
    padding: 10px;
    width: 95%;
    text-align: center;
}

#wordle-demo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

#wordle-demo-container img {
    max-width: 100%;
    height: auto;
    width: 40rem;
}

#wordle-demo-text {
    padding-left: 1.5rem;
    max-width: 40rem;
}

#chopin-liszt-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

#chopin-liszt-container img {
    max-width: 100%;
    height: auto;
    width: 50rem;
}

#chopin-liszt-text {
    padding-right: 1.5rem;
    max-width: 40rem;
}

#youtube-channel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

#youtube-channel-container p { /* replace this with embed or whatever */
    max-width: 100%;
    height: auto;
    width: 40rem;
}

#youtube-channel-text {
    padding-left: 1.5rem;
    max-width: 40rem;
}

#twitch-channel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

#twitch-channel-container p {
    max-width: 100%;
    height: auto;
    width: 50rem;
}

#twitch-channel-text {
    padding-right: 1.5rem;
    max-width: 40rem;
}

#forza-gallery {
    text-align: center;
}

.forza-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.forza {
    width: 30%;
    padding: 0.2rem;
    transition: transform 0.3s ease-in-out;
}

.forza:hover {
    transform: scale(1.2);
}

.gallery {
    height: 50%;
    width: 50%;
    padding: 10px;
}

.minecraft-img {
    height: 40%;
    width: 40%;
    padding: 10px;
}